#title{
    font-size: 96px;
    color: #16423C;

    margin-bottom: 1rem;
  }
  
  #main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E9EFEC;
    gap: 80px;
    font-family: "Inter", sans-serif;
  }
  #img img{
    width: 420px;
  }

  #container, #img{
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

  
  }

  #container{
    padding: 2rem;
  }
  #loginParts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 520px;
    gap: 12px;
  }
  .input{
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
  }
  #inputBox{
    width: 460px;
    height: 60px;
    border: none;
    background-color: #E9EFEC;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 23px;
    
  
  }
  
  .textLabel{
    align-self: start;
    font-size: 23px;

    margin-bottom: 0.4rem;
  }
  
  a{
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    color: #6A9C89;
  }
  
  btn{
    width: 295px;
    height: 75px;
    border-radius: 15px;
    background-color: #16423C;
    font-size: 23px;
    color: white;

    margin-top: 0.6rem;
  }
  